{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cesped Barato Ecuador</title>
    <meta name="description" content="Ofrecemos el césped sintético más económico del Ecuador."/>
    <meta name="keywords" content="cesped sintetico, "/>
    <meta name="author" content="Makubex"/>
    <link rel="shortcut icon" href="{% static 'home/img/favicon.ico' %}">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'home/js/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/js/bootstrap/css/bootstrap-responsive.min.css' %}"/>
    <!-- Icons -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'home/js/icons/general/stylesheets/general_foundicons.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'home/js/icons/general/stylesheets/general_foundicons.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'home/js/icons/social/stylesheets/social_foundicons.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'home/js/fontawesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/js/carousel/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/animate.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/responsiveslides.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/layerslider/css/layerslider.css' %}"/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Palatino+Linotype" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'home/css/custom.css' %}"/>

</head>


<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,600,700' rel='stylesheet' type='text/css'>
<!-- End Fonts -->


<body id="pageBody" style="height: 100%; background-color: #6A9C72">

<div id="decorative2">
    <div class="container">

        <div class="divPanel topArea notop nobottom">
            <div class="row-fluid">
                <div class="span12">

                    <div id="divLogo" class="pull-left">
                        <a href="http://cespedbarato.ec" id="divSiteTitle">CespedBarato.ec</a><br/>
                        <a href="http://cespedbarato.ec" id="divTagLine">El mejor precio del mercado</a>
                    </div>

                    <div id="divMenuRight" class="pull-right">
                        <div class="navbar">
                            {% comment %}
                            <button type="button" class="btn btn-navbar-highlight btn-large btn-primary"
                                    data-toggle="collapse" data-target=".nav-collapse">
                                NAVIGATION <span class="icon-chevron-down icon-white"></span>
                            </button>
                            <div class="nav-collapse collapse">

                                <ul class="nav nav-pills ddmenu">
                                   <li class="dropdown active"><a href="index.html">Home</a></li>
                                    <li class="dropdown"><a href="about.html">About</a></li>
                                    <li class="dropdown">
                                        <a href="page.html" class="dropdown-toggle">Page <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="full.html">Full Page</a></li>
                                            <li><a href="2-column.html">Two Column</a></li>
                                            <li><a href="3-column.html">Three Column</a></li>
                                            <li><a href="../documentation/index.html">Documentation</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle">Dropdown Item &nbsp;&raquo;</a>
                                                <ul class="dropdown-menu sub-menu">
                                                    <li><a href="#">Dropdown Item</a></li>
                                                    <li><a href="#">Dropdown Item</a></li>
                                                    <li><a href="#">Dropdown Item</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="gallery.html">Gallery</a></li>
                                    <li class="dropdown"><a href="contact.php">Contact</a></li>
                                </ul>
                                {% endcomment %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div id="full-slider-wrapper" class="hidden-phone hidden-tablet" style="height: 100%">
    <div id="layerslider" style="width:100%;height:100%;min-height: 100%;margin-top: -20px;">
                <!--LayerSlider background-->
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                    <img class="ls-bg" src="{% static 'home/img/bg2.jpg' %}" alt="layer1-background">
            <img src="{% static 'home/img/logo2.svg' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 20%; left: 49%; width:700px;margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:0;offsetyin:0;durationin:1500;delayin:500;easingin:easeOutCubic;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:0;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            <img src="{% static 'home/img/phone.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 76%; left: 50%; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:0;offsetyin:50;durationin:1500;delayin:500;easingin:easeOutCubic;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:0;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            <span class="ls-l" id=""
                  style="font-family: 'Helvetica', cursive; font-size: 40px; line-height: 40px; color: #F7F7F7; white-space: nowrap; top: 30%; left: 50%; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                  data-ls="offsetxin:0;offsetyin:-80;durationin:1000;delayin:1500;easingin:easeInOutQuint;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.5;scaleyin:0.5;offsetxout:0;offsetyout:0;durationout:1000;showuntil:12000;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:0.5;scaleyout:0.5;parallaxlevel:0;">Ofrecemos el césped sintético más económico del Ecuador.</span>
            <img src="{% static 'home/img/grassmid.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 52%; left: 30%; width:250px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:-500;offsetyin:0;durationin:1000;delayin:3000;easingin:easeOutCubic;fadein:true;rotatein:100;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:12000;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            <img src="{% static 'home/img/calidad.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 38%; left: 62%; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:0;offsetyin:-600;durationin:1000;delayin:3000;easingin:easeOutCubic;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:12000;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            <img src="{% static 'home/img/grassmid2.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 52%; left: 32%;  width:250px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:-500;offsetyin:0;durationin:1000;delayin:7000;easingin:easeOutCubic;fadein:true;rotatein:100;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:8000;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            <img src="{% static 'home/img/certificacion.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 45%; left: 62%; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:0;offsetyin:-600;durationin:1000;delayin:7000;easingin:easeOutCubic;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:8000;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            <img src="{% static 'home/img/grassmid3.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 52%; left: 34%; width:250px; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:-500;offsetyin:0;durationin:1000;delayin:11000;easingin:easeOutCubic;fadein:true;rotatein:100;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:4000;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            <img src="{% static 'home/img/clientes.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 52%; left: 62%; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:0;offsetyin:-600;durationin:1000;delayin:11000;easingin:easeOutCubic;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:4000;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
            {#                    <span class="ls-l" id="" style="font-family: 'Helvetica', cursive; font-size: 85px; line-height: 40px; color: #F7F7F7; white-space: nowrap; top: 60%; left: 50%; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;" data-ls="offsetxin:0;offsetyin:-80;durationin:1000;delayin:15000;easingin:easeInOutQuint;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.5;scaleyin:0.5;offsetxout:0;offsetyout:0;durationout:1000;showuntil:0;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:0.5;scaleyout:0.5;parallaxlevel:0;">¡Llámanos YA!</span>#}
            <img id="my-button" src="{% static 'home/img/proyectos.png' %}" class="ls-s-1" id=""
                 style="white-space: nowrap; top: 44%; left: 49%; width:700px;margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;"
                 data-ls="offsetxin:0;offsetyin:0;durationin:1500;delayin:16000;easingin:easeOutCubic;fadein:true;rotatein:0;rotatexin:0;rotateyin:0;transformoriginin:50% 50% 0;skewxin:0;skewyin:0;scalexin:0.3;scaleyin:0.3;offsetxout:-80;offsetyout:0;durationout:400;showuntil:0;easingout:easeInOutQuint;fadeout:true;rotateout:0;rotatexout:0;rotateyout:0;transformoriginout:50% 50% 0;skewxout:0;skewyout:0;scalexout:1;scaleyout:1;parallaxlevel:0;">
        </div>
    </div>
</div>
<div id="bottomRight" class="hidden-phone">
    <form method="POST" id="post-form" class="contact">
        {% csrf_token %}
        <fieldset class="contact-inner">
            <h1 style="    color: rgb(91, 126, 132);
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 5px 0 25px;">Contáctanos</h1>

            <p class="contact-input">
                <input id="name" type="text" name="name" placeholder="Nombre" autofocus>
                <input id="email" type="text" name="name" placeholder="Correo electrónico" autofocus>
                <input id="phone" type="text" name="name" placeholder="Teléfono" autofocus>
            </p>
            <p class="contact-input">
                <label id="select" for="select" class="select">
                    <select name="subject" id="select">
                        <option value="" selected>Escoja el asunto</option>
                        <option value="1">Busco información</option>
                        <option value="1">Deseo realizar una cotización</option>

                    </select>
                </label>
            </p>
            {{form.as_p}}

            <p class="contact-input">
                <textarea id="textarea" name="message" placeholder="Mensaje"></textarea>
            </p>

            <p class="contact-submit">
                <input type="submit" value="Enviar Mensaje">
            </p>
        </fieldset>
    </form>
</div>
<div id="element_to_pop_up">
    <div class="rslides_container">
        <ul id="slides1" class="rslides rslides1" style="max-width: 800px;">
            <li id="rslides1_s0" class="rslides1_on"
                style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
                <img src="{% static 'home/img/1.jpg' %}" alt="">

                <p class="caption">Conjunto Residencial Torre del Mar</p>
            </li>
            <li id="rslides1_s1"
                style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
                <img src="{% static 'home/img/4.jpg' %}" alt="">

                <p class="caption">Césped Sintético en el estadio 16 de Julio.</p>
            </li>
            <li id="rslides1_s2"
                style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
                <img src="{% static 'home/img/3.jpg' %}" alt="">

                <p class="caption">Excelente calidad al mejor precio del mercado.</p>
            </li>
            <li id="rslides1_s3"
                style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
                <img src="{% static 'home/img/2.jpg' %}" alt="">

                <p class="caption">Parque Infantil ubicado en Samborondón.</p>
            </li>
        </ul>
        <a href="http://responsiveslides.com/with-captions/themes.html#"
           class="rslides_nav rslides1_nav prev">Previous</a><a
            href="http://responsiveslides.com/with-captions/themes.html#" class="rslides_nav rslides1_nav next">Next</a>
    </div>
</div>
<div class="col-sm-12 hidden-desktop" align="center">
    <img src="{% static 'home/img/grassmid.png' %}" class="animate-left" data-vp-repeat="true">
    <img src="{% static 'home/img/calidad.png' %}" class="animate-left" data-vp-repeat="true">
    <img src="{% static 'home/img/grassmid2.png' %}" class="animate-left" data-vp-repeat="true">
    <img src="{% static 'home/img/certificacion.png' %}" class="animate-left" data-vp-repeat="true">
    <img src="{% static 'home/img/grassmid3.png' %}" class="animate-left" data-vp-repeat="true">
    <img src="{% static 'home/img/clientes.png' %}" class="animate-left" data-vp-repeat="true">
    <img src="{% static 'home/img/phone.png' %}" class="title-animate" data-vp-repeat="true">
</div>
<div class="hidden-desktop hidden-tablet">
    <form method="POST" id="post-form" class="contact">
        {% csrf_token %}
        <fieldset class="contact-inner">
            <h1 style="    color: rgb(91, 126, 132);
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 5px 0 20px;">Contáctanos</h1>

            <p class="contact-input">
                <input id="name" type="text" name="name" placeholder="¿Cuál es tu nombre?" autofocus>
                <input id="email" type="text" name="name" placeholder="¿Cuál es tu correo electrónico?" autofocus>
                <input id="phone" type="text" name="name" placeholder="¿Cuál es tu teléfono?" autofocus>
            </p>
            <p class="contact-input">
                <label id="select" for="select" class="select">
                    <select name="subject" id="select">
                        <option value="" selected>Escoja el asunto.…</option>
                        <option value="1">Busco información</option>
                        <option value="1">Deseo realizar una cotización</option>

                    </select>
                </label>
            </p>
            {{form.as_p}}

            <p class="contact-input">
                <textarea id="textarea" name="message" placeholder="Tu mensaje…"></textarea>
            </p>

            <p class="contact-submit">
                <input type="submit" value="Enviar Mensaje">
            </p>
        </fieldset>
    </form>
</div>

</section>


<script src="{% static 'home/js/jquery.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/default.js' %}"></script>
<script src="{% static 'home/js/carousel/jquery.carouFredSel-6.2.0-packed.js' %}"></script>
<script src="{% static 'home/layerslider/js/greensock.js' %}"></script>
<script src="{% static 'home/layerslider/js/layerslider.transitions.js' %}"></script>
<script src="{% static 'home/layerslider/js/layerslider.kreaturamedia.jquery.js' %}"></script>
<script src="{% static 'home/js/jquery.viewportchecker.js' %}"></script>
<script src="{% static 'home/js/responsiveslides.min.js' %}"></script>
<script src="{% static 'home/js/jquery.bpopup.min.js' %}"></script>


<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.dummy').addClass("hiddenme").viewportChecker({
            classToAdd: 'visible animated bounceInLeft', // Class to add to the elements when they are visible
            offset: 100
        });
        jQuery('.title-animate').addClass("hiddenme").viewportChecker({
            classToAdd: 'visible animated fadeInDown', // Class to add to the elements when they are visible
            offset: 100
        });
        jQuery('.animate-right').addClass("hiddenme").viewportChecker({
            classToAdd: 'visible animated fadeInRight', // Class to add to the elements when they are visible
            offset: 100
        });
        jQuery('.animate-left').addClass("hiddenme").viewportChecker({
            classToAdd: 'visible animated fadeInLeft', // Class to add to the elements when they are visible
            offset: 100
        });
        jQuery('.animate-fadein').addClass("hiddenme").viewportChecker({
            classToAdd: 'visible animated fadeInUp', // Class to add to the elements when they are visible
            offset: 100
        });
    });

</script>
<script>
    jQuery("#layerslider").layerSlider({
        responsive: false,
        responsiveUnder: 1280,
        layersContainer: 1280,
        skin: 'noskin',
        hoverPrevNext: false,
        skinsPath: '../layerslider/skins/'
    });
    $(".rslides").responsiveSlides({
        auto: true,             // Boolean: Animate automatically, true or false
        speed: 500,            // Integer: Speed of the transition, in milliseconds
        timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
        pagination: true,           // Boolean: Show pager, true or false
        nav: true,             // Boolean: Show navigation, true or false
        random: false,          // Boolean: Randomize the order of the slides, true or false
        pause: false,           // Boolean: Pause on hover, true or false
        pauseControls: true,    // Boolean: Pause when hovering controls, true or false
        prevText: "Anterior",   // String: Text for the "previous" button
        nextText: "Siguiente",       // String: Text for the "next" button
        maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
        navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
        manualControls: "",     // Selector: Declare custom pager navigation
        namespace: "rslides",   // String: Change the default namespace used
        before: function () {
        },   // Function: Before callback
        after: function () {
        }     // Function: After callback
    });
    ;
    (function ($) {

        // DOM Ready
        $(function () {

            // Binding a click event
            // From jQuery v.1.7.0 use .on() instead of .bind()
            $('#my-button').bind('click', function (e) {

                // Prevents the default action to be triggered.
                e.preventDefault();

                // Triggering bPopup when click event is fired
                $('#element_to_pop_up').bPopup();

            });

        });

    })(jQuery);

    $(document).ready(function() {
       $("#post-form").submit(function(event){

           var name = $('#name').val();
           var email = $('#email').val();
           var phone = $('#phone').val();
           var select = $( "#select option:selected" ).text();
           var textarea = $('#textarea').val();
            $.ajax({
                 type:"POST",
                 url:"/contact/",
                'data': {
                    'name': name,
                    'email': email,
                    'phone': phone,
                    'select': select,
                    'textarea': textarea,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                 success: function(){
                    alert("Mensaje correctamente enviado.");
                 }
            });
            return false; //<---- move it here
       });

});
</script>
</body>
</html> 